/******************************************************************

Stylesheet: 960px以上のモニタで適用

******************************************************************/

.header {
  max-width: 960px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 270px;

  &__logo {
    margin: 0;
  }

  &__nav ul {
    margin: 0;

    & li {
      margin-left: 30px;
      font-size: 0.9rem;
    }
  }
}

.main {

  & img {
    max-width: 1920px;
  }

  .main-title {
    margin-bottom: 65px;
  }

  &__about {
    margin-bottom: 130px;
  }

  &__works {
    margin-bottom: 130px;

    & ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 50px;
  
      & li {
        width: 31%;
      }
    }
  }

  &__news {
    margin-bottom: 130px;

    & dl {
      display: flex;
      flex-wrap: wrap;

      & dt {
        width: 20%;
        padding: 15px;
        border-bottom: 1px solid #C8C8C8;
      }

      & dd {
        width: 80%;
        padding: 15px;
      }
    }
  }

  &__contact {
    margin-bottom: 130px;

    & form dl {
      display: flex;
      flex-wrap: wrap;

      & dt {
        width: 15%;
      }

      & dd {
        width: 75%;
      }
    }
  }
}
